.sidebar {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  left: 0;
  width: 110px;
  display: flex;
  justify-content: center;
  top: 0;
  margin-right: 110px;
  background-color: #FFFFFF;

  &_list {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    li {
      &:nth-child(6) {
        svg {
          fill: $white-color;
        }
     
          &.active {
            svg {
              fill: green;
              rect {
                fill: $light-orange-color;
              }
            }
          }
    
      }
      
    }
   a {
      &.active {
        span {
          color: $light-orange-color;
        }
        svg {
          fill: $light-orange-color;
        }
      }
    }

    li{
      &:nth-child(6) {
        a{
          &.active {
            svg {
              fill: $white-color;
              path {
                &:first-of-type{

                  fill: $light-orange-color;
                }
              }
            }
          }
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        fill: $input-color;
      }
      span {
        margin-top: 6px;
        color: $input-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

@media (max-width: $md) {
  .sidebar {
    display: none;
  }
}
